<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Battleship</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
	    
	    <style type="text/css">
	    	body { padding-top: 50px; }
			.top-50 { margin-top: 50px; }
	    </style>
	
	</head>

	<body >

		<div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="#">Battleship</a>
		        </div>
		    </div>
		</div>

		<div class="container">
		    <div class="col-md-6 top-50">
			    <div class="row top-50">
				    <div class="col-md-6 text-center">
				       	<h2>Create ship</h2>
				       	<p>Rows beetwen 0 and <%= @board.rows.to_i - 1 %></p>
				       	<p>Columns beetwen 0 and <%= @board.columns.to_i - 1 %></p>
				       	<form role="form" method="POST" action="create_small">
				           	<%= csrf_token_field %>
				            <div class="form-group">
				                <div class="input-group input-group-lg">
				                    <span class="input-group-addon" id="sizing-addon1">Row</span>
				                    <input min="0" class="form-control" placeholder="Select row" type="number" name="in_row">
				                </div>
				            </div>
				    	    <div class="form-group">
				                <div class="input-group input-group-lg">
				                    <span class="input-group-addon" id="sizing-addon1">Column</span>
				                    <input min="0" class="form-control" placeholder="Select column" type="number" name="in_column">
				                </div>
				            </div>
				            <div class="btn-group " role="group" aria-label="...">
				                <button type="submit" value="create" id="create_small_button" class="btn btn-primary btn-lg">Create Small Ship!</button>
				            </div>
				        </form>
				    </div>
			        <div class="col-md-6 text-center">
			        	<h2>Is empty?</h2>
			        	<p>Rows beetwen 0 and <%= @board.rows.to_i - 1 %></p>
			        	<p>Columns beetwen 0 and <%= @board.columns.to_i - 1 %></p>
			        	<form role="form" method="POST" action="check_cell">
			            	<%= csrf_token_field %>
			                <div class="form-group">
			                    <div class="input-group input-group-lg">
			                        <span class="input-group-addon" id="sizing-addon1">Row</span>
			                        <input min="0" class="form-control" placeholder="Select row" type="number" name="row">
			                    </div>
			                </div>
			                <div class="form-group">
			                    <div class="input-group input-group-lg">
			                        <span class="input-group-addon" id="sizing-addon1">Column</span>
			                        <input min="0" class="form-control" placeholder="Select column" type="number" name="column">
			                    </div>
			                </div>
			                <div class="btn-group " role="group" aria-label="...">
			                    <button type="submit" value="check" id="check_cell_button" class="btn btn-primary btn-lg">Check Cell State!</button>
			                </div>
			            </form>
			        </div>
		        </div>
		    </div>
		    <div class="col-md-6 top-50">
		    	<div class="row panel panel-primary top-50">
					<div class="panel-heading">
				    	<h3 class="panel-title">Last Event</h3>
				  	</div>
				  	<div class="panel-body" id="last_event">
				    	<%= @last_event %>
				  	</div>
				</div>
		    </div>
		</div>
	</div>

	</body>

</html>
